.choice-container {
    background-color: rgb(159, 186, 213);
    color: black;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    margin: 5px;
    align-content: left;
}

.choice-answer:hover {
    color: white;
    transition: transform 150ms;
    transform: scale(1.05);
}