/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Quicksand, sans-serif;
    color: black;
}
h1 {
    font-size: xx-large;
}

/* Background image, color and positioning */
#home {
    background: url("../images/netherlands-tulip-field.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: blueviolet;
}

/* main div positioning */
#intro {
    margin: auto;
    margin-top: 20%;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(255,255,255, .7);

    display: flex;
    flex-direction: column;
    align-items: center;
}
#index-btns {
    margin-top: 15px;
}

.spacing {
    
}

button {
    background-color: rgb(235, 7, 161, .8);
    color: white;
    font-size: xx-large;
    border-radius: 5px;
    padding: 15px;
}
button:hover {
    background-color: rgb(161, 188, 215);
    color: black;
}
