/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    color: black;
}

/* Background image, color and positioning */
.background-container {
    background: url("../images/netherlands-tulip-field.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: blueviolet;
}

/* main div positioning */
.quiz-container {
    margin: auto;
    margin-top: 15%;
    width: 800px;
    min-width: 50%;
    max-width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(255,255,255, .7);
    border-radius: 5px;
}

.header-text {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 30px;
}

#username-input {
    border: 2px solid #000;
    background: rgb(255,255,255, .5);
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
}

/* Buttons styling and hover */
.btn {
    background-color: rgb(235, 7, 161, .8);
    color: white;
    font-size: x-large;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
}

.start-btn, .next-btn {
    font-weight: bold;
}

.btn-link {
    text-decoration: none;
    font-size: small;
}

.btn:hover {
    color: black;
    background-color: rgb(235, 7, 161, .7);
    transform: scale(1.04);
    transition: transform 150ms;
}

/* Button background color to show if the answer is right of wrong */
.correct {
    background-color: green;
}

.wrong {
    background: red;
}

.correct-answer {
    font-weight: bold;
}

.controls {
    display: grid;    
}

/* This class I use a lot to hide or show buttons and content at the right time */
.hide {
    display: none;
}


/* Media query for screens 850 and below */
@media screen and (max-width:850px) {
    .header-text {
        font-size: x-large;
    }
    .quiz-container {
        min-width: 80%;
    }
    #enter {
        margin-top: 10px;
    }
}

/* Media query for screens 440 and below */
@media screen and (max-width:440px) {
    .header-text {
        font-size: larger;
    }
    .quiz-container {
        min-width: 90%;
    }
    #username-input {
        font-size: small;
        padding: 5px;
        width: 100%;
    }
    .btn {
        font-size: large;
    }
    .btn-grid {
        gap: 5px;
        padding: 10px;
    }
    .btn-link {
        font-size: smaller;
    }
}
