/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@600&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    color: black;
    font-size: x-large;
}

/* Background image, color and positioning */
.background-container {
    background: url("../images/netherlands-tulip-field.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: blueviolet;
}

/* main div positioning */
.quiz-container {
    margin: auto;
    margin-top: 15%;
    width: 800px;
    max-width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(255,255,255, .7);
    border-radius: 5px;
}

.header-text {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

.btn-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 30px;
    
}


/* Buttons styling and hover */
.btn {
    background-color: rgb(235, 7, 161, .8);
    color: white;
    font-size: x-large;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
}

.start-btn, .next-btn {
    font-weight: bold;
}

.btn:hover {
    color: black;
    background-color: rgb(235, 7, 161, .7);
    transform: scale(1.04);
    transition: transform 150ms;
}

/* Button color to show if the answer is right of wrong */
.correct {
    background-color: green;
}

.wrong {
    background: red;
}

.controls {
    display: grid;    
}

.hide {
    display: none;
}



/*@media screen and (max-width:) {
    
}
*/
